body {
  background-color: #ffff;
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Добавить сердце перед ссылками */
a::before {
  content: "♥";
  color: pink;
}

/* remove underline in links */

.link {
  text-decoration: none;
}
/* end */

.social-links .links {
  color: orange;
}

.social-links .links {
  color: yellowgreen;
}

.social-links .links:hover,
.social-links .links:focus {
  color: cyan;
}

.social-links .links:active {
  color: red;
}

.social-links .link:visited {
  color: green;
}

/* Псевдокласс :hover */

.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

/* Using a sans serif font and increasing the size of the characters */

/* Shift the heading text to the left, by default it is centered */
table caption {
  text-align: left;
}

/* We "collapse" the frames of adjacent cells */
table {
  border-collapse: collapse;
}

/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

/* Селектор ребёнка */
/* ✅ То что нужно */
.menu > li {
  border: 1px solid tomato;
  width: 300px;
}

/* Общие стили для всех типов оповещений */

.alert {
  font-size: 20px;
  font-weight: 500;
}

/* Специфические стили для каждого типа */

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

/* /////// Оформление текста/ TEXT STYLES ///////// */

h1,
h3 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

.text {
  background-color: rgba(0, 128, 0, 0.3);
  color: black;
  text-transform: capitalize;
  text-align: left;
  text-indent: 100px;
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 5px;
}

.text > span {
  text-decoration: underline;
  text-transform: lowercase;
  letter-spacing: 10px;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}

/* Let's add text selection styles for each paragraph of the poem. */
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}

/* Ховер и таблицы */

.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

/* Сброс стилей / Reset styles */

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

address {
  text-decoration: none;
}

ul.list {
  list-style-type: none;
  display: flex;
}
.list-item {
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid #303030;
  margin-right: 5px;
  line-height: 30px;
  border-radius: 50%;
}
.list-item:nth-child(-2n + 7) {
  background-color: #4caf50;
}

.canvas {
  margin-top: 30px;
  max-width: 100px;
  height: 100px;

  background-image: url(../images/icons8-твиттер-48.png),
    url(../images/Background.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* В таком градиенте:

красный цвет (#f44336) будет распространяться от 0% до 15%
зелёный цвет (#09792b) будет распространяться от 15% до 40%
синий цвет (#00b9ff) будет распространяться от 40% до 65%
жёлтый цвет (#ffb800) будет распространяться от 65% до 100% */

.test {
  margin: 20px 0;
  width: 700px;
  height: 50px;
  background-image: linear-gradient(
    to right,
    #f44336 15%,
    #09792b 40%,
    #00b9ff 65%,
    #ffb800
  );
}

/* Если колорстопы заданы в пикселях и общая сумма меньше, 
чем ширина или высота элемента, то получится повторяющийся градиент. */

.test-repeat {
  margin: 20px 0;
  width: 700px;
  height: 50px;
  background-image: repeating-linear-gradient(
    to right,
    #f44336 30px,
    #09792b 40px,
    #00b9ff 65px,
    #ffb800 90px
  );
  background-repeat: repeat-x;
}

.container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.icon {
  margin-left: 12px;
  margin-right: 12px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.icon:hover {
  fill: #03a9f4;
}
/* BALLS */

.container-box {
  box-sizing: border-box;
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  padding: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translatex(0);
  transition-property: transform;
  transition-duration: 2000ms;
}

.circle:not(:last-child) {
  margin-bottom: 5px;
}

.container-box:hover .circle {
  transform: translatex(calc(100vw - 86px));
}

.circle:nth-child(1) {
  background-color: #f44336;
  transition-timing-function: linear;
}

.circle:nth-child(2) {
  background-color: #3f51b5;
  transition-timing-function: ease;
}

.circle:nth-child(3) {
  background-color: #00bcd4;
  transition-timing-function: ease-in;
}

.circle:nth-child(4) {
  background-color: #4caf50;
  transition-timing-function: ease-out;
}

.circle:nth-child(5) {
  background-color: #ffeb3b;
  transition-timing-function: ease-in-out;
}

.circle:nth-child(6) {
  background-color: #e91e63;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}
/* / */

.bg {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  color: white;
  padding: 20px;
  border: 10px dashed rgba(0, 0, 0, 0.12);
  background-image: url(../images/866-200x300.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.appear {
  width: 300px;
  height: 200px;
  border: 1px dashed red;
  background-color: lightgreen;
  position: relative;
  top: -120px;
  left: 120px;
}

.appear > .label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;

  font-family: sans-serif;
  font-size: 24px;
  background-color: #2196f3;
  color: #fff;
}

/* BUTTON  */

.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
}
/* ----- */
