body {
  background-color: #ffff;
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
}

/* Добавить сердце перед ссылками */
a::before {
  content: "♥";
  color: pink;
}

/* remove underline in links */

.link {
  text-decoration: none;
}
/* end */

.social-links .links {
  color: orange;
}

.social-links .links {
  color: yellowgreen;
}

.social-links .links:hover,
.social-links .links:focus {
  color: cyan;
}

.social-links .links:active {
  color: red;
}

.social-links .link:visited {
  color: green;
}

/* Псевдокласс :hover */

.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

/* Using a sans serif font and increasing the size of the characters */

/* Shift the heading text to the left, by default it is centered */
table caption {
  text-align: left;
}

/* We "collapse" the frames of adjacent cells */
table {
  border-collapse: collapse;
}

/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

/* Селектор ребёнка */
/* ✅ То что нужно */
.menu > li {
  border: 1px solid tomato;
  width: 300px;
}

/* Общие стили для всех типов оповещений */

.alert {
  font-size: 20px;
  font-weight: 500;
}

/* Специфические стили для каждого типа */

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

/* /////// Оформление текста/ TEXT STYLES ///////// */

h1,
h3 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

.text {
  background-color: rgba(0, 128, 0, 0.3);
  color: black;
  text-transform: capitalize;
  text-align: left;
  text-indent: 100px;
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 5px;
}

.text > span {
  text-decoration: underline;
  text-transform: lowercase;
  letter-spacing: 10px;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}

/* Let's add text selection styles for each paragraph of the poem. */
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}

/* Ховер и таблицы */

.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

/* Сброс стилей / Reset styles */

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

address {
  text-decoration: none;
}
